<div style="margin: 10px;">
  <div class="card" style="width: 18rem;">
   <ng-content select=".card-title"></ng-content>
    <div class="card-body">
     <ng-content  select=".card-img-top"></ng-content>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. for the git test</p>
     <ng-content  select=".btn"></ng-content>
    </div>
    <div>
      <p>Git Test from start</p>
      <p>Git Test from 66666</p>
      <p>Git Test from 7777</p>
      <p>Git Test from raman</p>
      <p>Git Test from kaman</p>
      <p>Git Test from xxxx</p>
      <p>line 001 </p>
      <p>line 002 </p>
      <p>line 003 </p>
      <p>line 004 </p>

      <p>line 00455 </p>
      <p>line 006666 </p>
      <p>line => 001 </p>
      <p>line => 002 </p>
      <p>line => 003 </p>
      <p>line => 004 </p>

      <p>code => 001 </p>
      <p>code => 002 </p>
      <p>code => 003 </p>
      <p>code => 004 </p>
      <p>para => 001 </p>
    </div>
  </div>
</div>